---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Enthousiaste à l’idée de collaborer</h2>
    <p>
      J’aime le travail et les projets en équipe. J'aime insuffler une dynamique
      positive et favoriser une synergie créative pour atteindre nos objectifs
      communs en communication.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Polyvalente et passionnée</h2>
    <p>
      J’aborde le métier avec une vision globale, appréciant la diversité des
      missions et la richesse des interactions, pour offrir des solutions
      créatives et complètes à chaque défi.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Esprit Stratégique</h2>
    <p>
      Je suis une diplômée enthousiaste dotée d’un esprit stratégique affûté,
      prête à apporter une touche fraîche et innovante à vos stratégies de
      communication, créant ainsi des expériences mémorables pour votre public
      cible.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
